<div class="user-index">
  <div class="user-name">  
    <%= @user.username %>
  </div>
  <div class="user-follow">
    <%= render 'follow_form' %>
    <%= render 'nav' %>
  </div>
  <%= link_to "新規投稿", new_post_path, data: {"turbolinks" => false}, class: "btn btn-primary" %>
</div>

<div class="tabs">
  <input id="post-all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="post-all">投稿一覧</label>
  <input id="post-favorites" type="radio" name="tab_item">
  <label class="tab_item" for="post-favorites">お気に入り</label>
  <div class="tab_content" id="all_content">
    <div class="post-container">
      <% @posts.each do |post| %>
        <%= link_to post, data: {"turbolinks" => false}, class: 'post-underline' do %>
        <div class="post-title">  
          <%= post.title%>
        </div>
        <% end %>
      <% end %>
      <div class="paginate"><%= paginate @posts %></div>
    </div>
  </div>
  <div class="tab_content" id="favorites_content">
    <div class="post-container">
      <% @favorite_list.each do |post| %>
        <%= link_to post, data: {"turbolinks" => false}, class: 'post-underline' do %>
        <div class="post-title"> 
          <%= post.title %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
