<div class="admin-login">
 <% if current_user.try(:admin?) %>
   <%= link_to '管理者ログイン', rails_admin_path %>
 <% end %>
</div>
<%= @user.username %>
<div class="user-follow">
 <%= render 'follow_form' %>
</div>
 <%= render 'nav' %>
<%= link_to"ログアウト",destroy_user_session_path, method: :delete %>

