<!DOCTYPE html>
<html>
  <div class="contanier">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ac8dfce5e3.js" crossorigin="anonymous" data-turbolinks-eval="false"></script>
  </head>

  <header>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <%= link_to "拉麺通信", root_path, data: {"turbolinks" => false}, class:"no-underline" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <% if current_user.try(:admin?) %>
            <%= link_to "管理者ログイン", rails_admin_path, data: {"turbolinks" => false}, class:"no-underline" %>
          <% end %>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to"ログアウト",destroy_user_session_path, data: {"turbolinks" => false}, class:"no-underline", method: :delete %>
            <% else %>
              <%= link_to "ログイン", user_session_path, data: {"turbolinks" => false} , class:"no-underline" %>  
            <% end %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(id: current_user), data: {"turbolinks" => false} , class:"no-underline" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規投稿", new_post_path, data: {"turbolinks" => false}, class: "no-underline" %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", posts_path, data: {"turbolinks" => false}, class: "no-underline" %>
          </li>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" data-turbolinks-eval="false"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" data-turbolinks-eval="false"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" data-turbolinks-eval="false"></script>
  </header>

  <body>
    <%= yield %>
  </body>
  <footer>
    <address>Copyright(C)2022 M-Koki,Allright Reserved.</address>
  </footer>
</div>
</html>
